@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --gap: 2rem;

    /* colors - dark 100 to light 900 */
    --clr-primary-100: hsl(19, 74%, 28%);
    --clr-primary-400: hsl(19, 74%, 47%);
    --clr-primary-900: hsl(25, 86%, 66%);

    --clr-secondary-dark-100: hsl(169, 51%, 17%);
    --clr-secondary-dark-400: hsl(169, 20%, 33%);
    --clr-secondary-dark-900: hsl(170, 10%, 50%);

    --clr-secondary-light-100: hsl(171, 43%, 62%);
    --clr-secondary-light-400: hsl(171, 43%, 70%);
    --clr-secondary-light-900: hsl(170, 43%, 77%);

    --clr-tertiary-100: hsl(20, 93%, 11%);
    --clr-tertiary-400: hsl(21, 95%, 15%);
    --clr-tertiary-900: hsl(20, 93%, 22%);

    --clr-neutral-100: hsl(240, 1%, 29%);
    --clr-neutral-400: hsl(240, 1%, 39%);
    --clr-neutral-600: hsl(240, 2%, 57%);
    --clr-neutral-800: hsl(0, 0%, 85%);
    --clr-neutral-900: hsl(35, 100%, 96%);

    /* fonts */
    --ff-primary: 'Syne', sans-serif;
    --ff-secondary: 'Prompt', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* font sizes */
    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-425: 1.125rem;
    --fs-450: 1.25rem;
    --fs-500: 1.3125rem;
    --fs-600: 1.6875rem;
    --fs-700: 2.5rem;
    --fs-800: 6.05469rem;
    --fs-900: 8.75rem;

    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-450);
    --fs-button: var(--fs-300);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
}

@media (min-width: 50em) {
    :root {
        --fs-600: 2.5rem;
        --fs-700: 2.5rem;

        --fs-body: var(--fs-450);
        --fs-button: var(--fs-400);
    }
}

/* ------------------------ */
/* Utility classes          */
/* ------------------------ */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
    /* border: 1px red solid; */
}

.wrapper {
    --max-width: 1600px;
    --padding: 1rem;

    max-width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}

.border-bottom {
    border-bottom: 3px solid;
}

.border-top {
    border-top: 3px solid;
}

.even-columns {
    display: grid;
    gap: var(--columns-gap, 1rem);
}

.center {
    display: grid;
    place-items: center;
}

@media (min-width: 50em) {
    .even-columns {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

/* screen readers only (hides elements)*/
.sr-only,
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.letter-spacing-1 {
    letter-spacing: 4.75px;
}

.letter-spacing-2 {
    letter-spacing: 2.7px;
}

.letter-spacing-3 {
    letter-spacing: 2.35px;
}


.spacing-1 {
    padding-block: 5rem;
}

.spacing-2 {
    padding-block: 3rem;
}

.spacing-3 {
    padding-block: 1rem;
}

.uppercase {
    text-transform: uppercase;
}


.ff-primary {
    font-family: var(--ff-primary);
}

.ff-secondary {
    font-family: var(--ff-secondary);
}


.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}


.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-425 {
    font-size: var(--fs-425);
}

.fs-450 {
    font-size: var(--fs-450);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-900 {
    font-size: var(--fs-900);
}


.text-primary-100 {
    color: var(--clr-primary-100)
}

.text-primary-400 {
    color: var(--clr-primary-400)
}

.text-primary-900 {
    color: var(--clr-primary-900)
}

.text-secondary-dark-100 {
    color: var(--clr-secondary-dark-100)
}

.text-secondary-dark-400 {
    color: var(--clr-secondary-dark-400)
}

.text-secondary-dark-900 {
    color: var(--clr-secondary-dark-900)
}

.text-secondary-light-100 {
    color: var(--clr-secondary-light-100)
}

.text-secondary-light-400 {
    color: var(--clr-secondary-light-400)
}

.text-secondary-light-900 {
    color: var(--clr-secondary-light-900)
}

.text-tertiary-100 {
    color: var(--clr-tertiary-100)
}

.text-tertiary-400 {
    color: var(--clr-tertiary-400)
}

.text-tertiary-900 {
    color: var(--clr-tertiary-900)
}

.text-neutral-100 {
    color: var(--clr-neutral-100)
}

.text-neutral-400 {
    color: var(--clr-neutral-400)
}

.text-neutral-600 {
    color: var(--clr-neutral-600)
}

.text-neutral-900 {
    color: var(--clr-neutral-900)
}


.bg-primary-100 {
    background-color: var(--clr-primary-100)
}

.bg-primary-400 {
    background-color: var(--clr-primary-400)
}

.bg-primary-900 {
    background-color: var(--clr-primary-900)
}

.bg-secondary-dark-100 {
    background-color: var(--clr-secondary-dark-100)
}

.bg-secondary-dark-400 {
    background-color: var(--clr-secondary-dark-400)
}

.bg-secondary-dark-900 {
    background-color: var(--clr-secondary-dark-900)
}

.bg-secondary-light-100 {
    background-color: var(--clr-secondary-light-100)
}

.bg-secondary-light-400 {
    background-color: var(--clr-secondary-light-400)
}

.bg-secondary-light-900 {
    background-color: var(--clr-secondary-light-900)
}

.bg-tertiary-100 {
    background-color: var(--clr-tertiary-100)
}

.bg-tertiary-400 {
    background-color: var(--clr-tertiary-400)
}

.bg-tertiary-900 {
    background-color: var(--clr-tertiary-900)
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100)
}

.bg-neutral-400 {
    background-color: var(--clr-neutral-400)
}

.bg-neutral-600 {
    background-color: var(--clr-neutral-600)
}

.bg-neutral-800 {
    background-color: var(--clr-neutral-800)
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900)
}


/* ------------------------ */
/*  General Styling         */
/* ------------------------ */
html {
    scroll-behavior: smooth;
}

body {
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    color: var(--clr-primary-400);
}


/* ------------------------ */
/* Components               */
/* ------------------------ */

.large-button {
    /* grid makes it easier to center things */
    display: grid;
    /* place-items is a shortcut for justify-content and align-items */
    place-items: center;
    padding: 0 2em;
    aspect-ratio: 1 / 1;
}

/* HEADER */

.header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-block: .3125rem;
}

.header__content {
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-height: 5rem;
}

.nav__links {
    display: flex;
    padding: 0;
}

.nav__links * {
    text-decoration: none;
    text-transform: uppercase;
}

.nav__links li {
    line-height: 2em;
    padding-inline: calc(var(--gap) / 2);
    border-right: 3px solid var(--clr-neutral-900);
}


.nav__links a {
    position: relative;
}

.nav__links a::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--clr-neutral-900);
    position: absolute;
    bottom: -0.2em;
    transform-origin: right;
    transform: scaleX(0);
    transition: all ease .5s;
}

.nav__links a:hover::before,
.nav__links a:focus-visible::before {
    transform: scaleX(1);
}

/* HERO section */

.hero {
    text-align: center;
}

/* SEPARATOR section */
.separator {
    --columns-gap: 0;
    padding-block: 5rem;
}

.separator > div {
    border: 3px solid var(--clr-primary-400);
}

.separator__left {
    padding: 5px;
}

.separator__left img {
    width: 100%;
    max-height: 33rem;
    object-fit: cover;
    border: 3px solid var(--clr-primary-400);
}

.separator__left div {
    padding: 2rem;
}

.separator__right {
    /* padding: 25% 2rem 2rem 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-inline: 2rem;
}

.separator__right p {
    text-transform: uppercase;
}


/* PROJECTS section */


.project-tags {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.tag {
    background-color: var(--clr-primary-100);
    color: var(--clr-neutral-900);
    font-size: var(--fs-400);
    padding: 0.3em 1.5em;
    border-radius: 2rem;
}

.projects__project {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 5fr 4fr 1fr;
    align-items: center;
    font-family: var(--ff-secondary);
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
}

.projects__project:hover,
.projects__project:focus-visible {
    cursor: pointer;
    background-color: var(--clr-neutral-800)
}

.projects__project button {
    cursor: pointer;
    margin: 0 auto;
    height: 2rem;
    width: 7rem;
    color: var(--clr-primary-400);
    background-color: transparent;
    outline: none;
    border: 2px solid var(--clr-primary-400);
    border-radius: 1.125rem;
    line-height: 1;
    font-size: var(--fs-500);
}

.projects__project button:hover,
.projects__project button:focus-visible {
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-900);
    font-weight: var(--fw-bold);
}


/* STORY section */

.story {
    text-align: center;
}

.story-title span {
    font-weight: var(--fw-light);
}


/* SHOW-OFF section */

.show-off {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}


/* APPROACH section */

.approach__intro {
    max-width: 80ch;
}

.approach__details li:hover,
.approach__details li:focus-visible {
    cursor: pointer;
    background-color: var(--clr-secondary-dark-100);
}


/* SERVICES section */

.services__heading {
    display: flex;
    justify-content: space-between;
}

.services__insert {
    max-width: 330px;
}

.services__details li:hover,
.services__details li:focus-visible {
    cursor: pointer;
    background-color: var(--clr-secondary-dark-100);
}

/* PROCESS section */

.process__cards {
    --_spacer: 1rem;

    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    overflow-x: auto;
    padding: 0 var(--_spacer) var(--_spacer);
    /* can't scroll elements outside the gallery */
    overscroll-behavior-inline: contain;
}

.process__card {
    min-width: 28%;
    background-color: var(--clr-secondary-dark-400);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
}

.process__card img {
    aspect-ratio: 3 / 2;
    width: 100%;
    object-fit: cover;
}

.process__card p {
    padding: 1rem .5rem;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

/* AWARDS section */

.award {
    padding-block: 1em;
    border-bottom: 2px solid var(--clr-primary-400);
}

.award p:first-of-type {
    padding-right: 3em;
}

.award:hover,
.award:focus-visible {
    cursor: pointer;
    background-color: var(--clr-primary-900);
}

.awards > p:last-of-type {
    padding-top: 5rem;
}

/* BLOG section */

.blog__content {
    display: grid;
    grid-template:
        "one two two" 250px
        "three four five" 250px
        "three six six" 250px / 1fr 1fr 1fr
    ;
}

.blog__article {
    border-radius: 2rem;
    overflow: hidden;
    background-color: lightgoldenrodyellow;
    box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.blog__article img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: transform .3s ease-in;
}

.blog__article:nth-of-type(1) {
    grid-area: one;
}

.blog__article:nth-of-type(2) {
    grid-area: two;
}

.blog__article:nth-of-type(3) {
    grid-area: three;
}

.blog__article:nth-of-type(4) {
    grid-area: four;
}

.blog__article:nth-of-type(5) {
    grid-area: five;
}

.blog__article:nth-of-type(6) {
    grid-area: six;
}

.blog__article:hover img,
.blog__article:focus-visible img {
    transform: scale(1.1);
    cursor: pointer;
}

.button {
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 100vmax;
    padding: 1.25em 2.5em;
    font-weight: var(--fw-bold);
    font-size: var(--fs-button);
    line-height: 1;
    color: var(--clr-neutral-100);
    background-color: var(--clr-secondary-dark-400);
    box-shadow: 0 1.125em 1em -1em var(--clr-secondary-dark-900);
}

.button[data-type="inverted"] {
    background-color: var(--clr-neutral-100);
    color: var(--clr-secondary-dark-400);
}

.button:hover,
.button:focus-visible {
    background-color: var(--clr-secondary-dark-100);
}

.button[data-type="inverted"]:hover,
.button[data-type="inverted"]:focus-visible {
    background-color: var(--clr-secondary-dark-100);
    color: var(--clr-secondary-dark-900);
}

/* FOOTER */

