@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;600;700;900&family=Rubik:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&family=Moul&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Syne:wght@400;500;600;700;800&display=swap');

:root {
    --gap: 2rem;

    /* colors - dark 100 to light 900 */
    --clr-primary-100: hsl(19, 74%, 28%);
    --clr-primary-400: hsl(19, 74%, 47%);
    --clr-primary-900: hsl(25, 86%, 66%);

    --clr-secondary-dark-100: hsl(169, 51%, 17%);
    --clr-secondary-dark-400: hsl(169, 20%, 33%);
    --clr-secondary-dark-900: hsl(170, 10%, 50%);

    --clr-secondary-light-100: hsl(171, 43%, 62%);
    --clr-secondary-light-400: hsl(171, 43%, 70%);
    --clr-secondary-light-900: hsl(170, 43%, 77%);

    --clr-tertiary-100: hsl(21, 95%, 15%);
    --clr-tertiary-400: hsl(20, 93%, 11%);
    --clr-tertiary-900: hsl(20, 93%, 22%);

    --clr-neutral-100: hsl(240, 1%, 29%);
    --clr-neutral-400: hsl(240, 1%, 39%);
    --clr-neutral-600: hsl(240, 2%, 57%);
    --clr-neutral-900: hsl(35, 100%, 96%);

    /* fonts */
    --ff-primary: 'Syne', sans-serif;
    --ff-secondary: 'Prompt', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* font sizes */
    --fs-300: 0.75rem;
    --fs-400: 1rem;
    --fs-425: 1.125rem;
    --fs-450: 1.25rem;
    --fs-500: 1.3125rem;
    --fs-600: 1.6875rem;
    --fs-700: 2.5rem;
    --fs-800: 6.05469rem;
    --fs-900: 8.75rem;

    --fs-body: var(--fs-400);
    --fs-nav: var(--fs-450);
    --fs-button: var(--fs-300);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
}

@media (min-width: 50em) {
    :root {
        --fs-600: 2.5rem;
        --fs-700: 2.5rem;

        --fs-body: var(--fs-450);
        --fs-button: var(--fs-400);
    }
}

/* ------------------------ */
/* Utility classes          */
/* ------------------------ */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.wrapper {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: min(100rem, 80%);
}

/* screen readers only (hides elements)*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.uppercase {
    text-transform: uppercase;
}

.fw-light {
    font-weight: var(--fw-light);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-primary-heading {
    font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
    font-size: var(--fs-secondary-heading);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-425 {
    font-size: var(--fs-425);
}

.fs-450 {
    font-size: var(--fs-450);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-800 {
    font-size: var(--fs-800);
}

.fs-900 {
    font-size: var(--fs-900);
}

.text-primary-100 {
    color: var(--clr-primary-100)
}

.text-primary-400 {
    color: var(--clr-primary-400)
}

.text-primary-900 {
    color: var(--clr-primary-900)
}

.text-secondary-dark-100 {
    color: var(--clr-secondary-dark-100)
}

.text-secondary-dark-400 {
    color: var(--clr-secondary-dark-400)
}

.text-secondary-dark-900 {
    color: var(--clr-secondary-dark-900)
}

.text-secondary-light-100 {
    color: var(--clr-secondary-light-100)
}

.text-secondary-light-400 {
    color: var(--clr-secondary-light-400)
}

.text-secondary-light-900 {
    color: var(--clr-secondary-light-900)
}

.text-tertiary-100 {
    color: var(--clr-tertiary-100)
}

.text-tertiary-400 {
    color: var(--clr-tertiary-400)
}

.text-tertiary-900 {
    color: var(--clr-tertiary-900)
}

.text-neutral-100 {
    color: var(--clr-neutral-100)
}

.text-neutral-400 {
    color: var(--clr-neutral-400)
}

.text-neutral-600 {
    color: var(--clr-neutral-600)
}

.text-neutral-900 {
    color: var(--clr-neutral-900)
}


.bg-primary-100 {
    background-color: var(--clr-primary-100)
}

.bg-primary-400 {
    background-color: var(--clr-primary-400)
}

.bg-primary-900 {
    background-color: var(--clr-primary-900)
}

.bg-secondary-dark-100 {
    background-color: var(--clr-secondary-dark-100)
}

.bg-secondary-dark-400 {
    background-color: var(--clr-secondary-dark-400)
}

.bg-secondary-dark-900 {
    background-color: var(--clr-secondary-dark-900)
}

.bg-secondary-light-100 {
    background-color: var(--clr-secondary-light-100)
}

.bg-secondary-light-400 {
    background-color: var(--clr-secondary-light-400)
}

.bg-secondary-light-900 {
    background-color: var(--clr-secondary-light-900)
}

.bg-tertiary-100 {
    background-color: var(--clr-tertiary-100)
}

.bg-tertiary-400 {
    background-color: var(--clr-tertiary-400)
}

.bg-tertiary-900 {
    background-color: var(--clr-tertiary-900)
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100)
}

.bg-neutral-400 {
    background-color: var(--clr-neutral-400)
}

.bg-neutral-600 {
    background-color: var(--clr-neutral-600)
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900)
}


/* ------------------------ */
/* Styling                  */
/* ------------------------ */


body {
    font-family: var(--ff-primary);
}

/* HEADER  */

.header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-block: .3125rem;
}

.header__content {
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    max-height: 5rem;
}

.nav__links {
    display: flex;
    padding: 0;
}

.nav__links * {
    text-decoration: none;
    text-transform: uppercase;
}

.nav__links li {
    line-height: 2em;
    padding-inline: calc(var(--gap) / 2);
    border-right: 3px solid var(--clr-neutral-900);
}


.nav__links a {
    position: relative;
}

.nav__links a::before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--clr-neutral-900);
    position: absolute;
    bottom: -0.2em;
    transform-origin: right;
    transform: scaleX(0);
    transition: all ease .5s;
}

.nav__links a:hover::before {
    transform: scaleX(1);
}

/* HERO section */

.projects__project {
    justify-content: space-between;
    font-family: var(--ff-secondary);
    font-size: var(--fs-600);
    font-weight: var(--fw-light);
}

.about {
    text-align: center;
}

.about-title span {
    font-weight: var(--fw-light);
}

.about, .show-off, .awards, .blog {
    min-height: 60svh;
    justify-content: center;
    align-items: center;
}

.award {
    border-bottom: 1px solid black;
}

.blog__content {
    display: grid;
    grid-template:
    "one two two" 
    "three four five"
    "three six six"
    ;
}